h2 {
  color: var(--branco-textos);
  font-size: var(--font-size-large);
  line-height: var(--body-line-height);
  font-weight: 400;
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 32px;
}
