input {
  background-color: transparent;
  border: solid var(--cinza-medio) 1px;
  border-radius: 8px;
  height: 35px;
  width: 328px;
  margin: 8px;
  padding-left: 16px;
  color: var(--branco-textos);
}

input::placeholder {
  padding: 8px 16px;
  color: var(--cinza-medio);
}
/*
    TO DO: Fazer esse elemento ficar em destaque verde na cor designada
*/
input:focus {
  border: solid var(--verde-destaque) 1px;
}
