.botao {
  font-weight: 600;
  font-size: var(--font-size-medium);
  line-height: var(--body-line-height);
  color: var(--grafite-fundo-componente);
  padding: 8px 16px;
  background-color: var(--verde-destaque);
  border: none;
  border-radius: 8px;
}

.botao:hover {
  opacity: 0.8;
  cursor: pointer;
}
