body {
  margin: 0;
  background-color: var(--fundo-geral);
}

header {
  background-color: var(--fundo-geral);
  padding: 32px;
  display: flex;
  justify-content: center;
}
/* 
section img {
  max-width: 90%;
} */

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.eventos {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}
