body {
  margin: 0;
  background-color: var(--fundo-geral);
}

header {
  background-color: var(--fundo-geral);
  padding: 32px;
  display: flex;
  justify-content: center;
}
/* 
section img {
  max-width: 90%;
} */
