body {
  margin: 0;
}

header {
  background-color: var(--fundo-geral);
  padding: 32px;
  display: flex;
  justify-content: center;
}
section {
  background: var(--gradiente-banner);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}
